<div class="register-container full-height sm-p-t-30">
  <div class="container-sm-height full-height">
    <div class="row row-sm-height">
      <div class="col-sm-12 col-sm-height col-middle">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group form-group-default">
              <label>Role name</label>
              <input type="text" name="title" id="title" value="{{role.displayName}}" class="form-control" required>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="form-group form-group-default">
              <label>Role Description</label>
              <input type="text" name="description" id="description" value="{{role.description}}" class="form-control">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="checkbox check-success checkbox-circle">
              <input name="isadmin" id="isadmin" type="checkbox" {{#if role.isAdmin}}checked{{/if}}>
              <label for="isadmin">Is Admin</label>
            </div>
          </div>
        </div>

        <button class="btn btn-primary btn-cons m-t-10" name="submit" id="submit">Save</button>
      </div>
    </div>
  </div>
</div>
<script>
$(function()
{
  //$('#form-register').validate()
})
$(document).ready(function(){
    var title, description, isadmin;
    $("#submit").click(function(){
        title=$("#title").val();
        description=$("#description").val();
        isadmin=$("#isadmin").is(":checked");
        /*
        * Perform some validation here.
        */
        $.ajax({
          url: "{{bolt_root}}/api/roles?name={{role.name}}",
          data: { displayName: title, description: description, isAdmin: isadmin },
          type: "PUT",
          beforeSend: function(xhr) {
            xhr.setRequestHeader('X-Bolt-App-Token', '{{app_token}}');
          },
          success: function(response, status, xhr){
            if(response.code == 0){
              sweetAlert("Role updated!", title + " has been updated!", "success");
              window.location.href="{{app_root}}/roles";
            }
            else {
              sweetAlert(response.errorUserTitle, response.errorUserMessage, "error");
            }
          },
          error: function(xhr, status, err){
            alert(xhr.responseText);
          }
        });
    });
  });
</script>