<div class="register-container full-height sm-p-t-30">
  <div class="container-sm-height full-height">
    <div class="row row-sm-height">
      <div class="col-sm-12 col-sm-height col-middle">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group form-group-default">
              <label>{{role.displayName}}</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="form-group form-group-default">
              <label>Admin: {{#if role.isAdmin}}True{{else}}False{{/if}}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>