<div class="register-container full-height sm-p-t-30">
  <div class="container-sm-height full-height">
    <div class="row row-sm-height">
      <div class="col-sm-12 col-sm-height col-middle">
        <div class="row">
          <div class="col-sm-12">
            <div class="panel panel-default">
              <div class="panel-body">
                <img id="imgPrev" class="img img-responsive" width="200" height="200" src="{{current_user.displayPic}}">
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="form-group form-group-default">
              <label>{{current_user.displayName}}</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="form-group form-group-default">
              <label>Log Ins: {{current_user.visits}}</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="form-group form-group-default">
              <label>Blocked: {{#if current_user.isBlocked}}True{{else}}False{{/if}}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>